@model pdf1.Models.CreateSkillgroupViewModel

<h2>Edit Skillgroup</h2>

<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="Skill_group" class="control-label"></label>
        <input asp-for="Skill_group" class="form-control" />
        <span asp-validation-for="Skill_group" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
