@model IEnumerable<pdf1.Models.ResourceDetail>

@foreach (var item in Model)
{
    <div>
        <h2>@item.FirstName @item.LastName</h2>
        <button class="show-details-btn" data-id="@item.ResourceId">Show Details</button>
        <div class="details-container" id="details-container-@item.ResourceId" style="display:none;"></div>
    </div>
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.show-details-btn').click(function () {
                var id = $(this).data('id');
                var container = $('#details-container-' + id);

                if (container.is(':empty')) {
                    $.get('@Url.Action("DetailsPartial", "PDFF")', { id: id }, function (data) {
                        container.html(data);
                        container.slideToggle();
                    });
                } else {
                    container.slideToggle();
                }
            });
        });
    </script>
}
